@import "tailwindcss";
:root {
    --primary-background-color: #000000;
    --secondary-background-color: #F2F0F1;
}

@theme {
    --text-small: 8px;
    --text-base: 16px;
    --text-medium: 18px;
    --text-large: 24px;
    --text-xl: 32px;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}


/* Make padding smaller on mobile */

@media (max-width: 576px) {
    .container {
        padding: 0 16px;
    }
}